.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	padding: 16px;
	height: 40px;
	text-align: center;
	background: #7161EF;
	border-radius:0px;
}

sub-nav li a {
	line-height: 10;
}

dd a:hover {
	padding: 16px;
	height: 40px;
	text-align: center;
	background: #7161EF;
	border-radius:0px;
}

.sub-nav dd a:hover {
	color:white;
}

img:hover {
	border-style:solid;
	border-color: #7161EF;
	border-width:3px;
	box-shadow: 5px 5px 20px -6px rgba(38, 83, 173, 1);
	border-radius:4px;
}

.row_comic {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column_comic {
	-ms-flex: 50%; /* IE 10 */
	flex: 50%;
	padding: 0 4px;
}

.column_comic img {
	margin-top: 8px;
	vertical-align: middle;
}

* {
	box-sizing: border-box;
}