<main-nav></main-nav>

<br/>
<div id='current_page_data'>
	<p style='text-align: center'>Chapter 1: Demo | Page 1 <button style='margin-left:20px;' class='tiny button radius secondary'>Back To Dashboard</button><button style='margin-left:20px;' class='tiny button radius success'>Publish</button></p>
	<div class='row'>
		<div class='small-2 columns'>
			<button class='small secondary button'>Page 1</button>
		</div>
		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 2</button>
		</div>
		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 3</button>
		</div>
		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 4</button>
		</div>

		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 5</button>
		</div>
		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 6</button>
		</div>

		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 7</button>
		</div>
		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 8</button>
		</div>

		<div class='small-2 columns left'>
			<button class='small secondary button'>Page 9</button>
		</div>

		<div class='small-2 columns left'>
			<button class='small secondary button'>Add Page</button>
		</div>
	</div>
</div>

<div style='background-color:white; margin-top:0px; height:50px; position:relative; top:0px; border-color:rgb(219, 219, 219); border-style:solid; border-width:1px;'>
	<dl class="sub-nav" style='padding:4px; position:relative;'>
		<!--<dt>Tools:</dt>-->
		<dd><a href="#" id='button-image'>Add Image</a></dd>
		<dd><a href="#" id='button-panel'>Add Panel</a></dd>
		<dd><a href="#" id='button-resize'>Scale Up</a></dd>
		<dd><a href="#" id='button-delete'>Delete</a></dd>
		<dd class="hide-for-small-only"><a href="#">Save</a></dd>
	</dl>
</div>


<div class="my-drawing">
</div>

<form class="controls export">
	<input type="submit" data-action="export-as-png" value="Export as PNG">
</form>