<main-nav></main-nav>

<br/>
<div>
	<div class='row' id='all_comics' style='display:block'>
		<p style='font-size:40px; position:relative; left:0px;'>My Comics</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of comics" class="column_comic" onclick='select_comic()'>
				<div (click)="updateCurrentSeries(comic);" routerLink='/dashboardseries' routerLinkActive="active" class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>{{ comic.comicSeriesName }}</span><br/>
					<span *ngIf="comic.score">
						<span class='title label tiny success radius' style='font-size:12px; color:white'>
								<i style="color:white;" class='fi-star'></i> {{ comic.score }}/10
						</span><br/>
					</span>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>{{ comic.genre }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
