<main-nav></main-nav>

<br/>
<div>
	<div class='row' id='all_comics' style='display:block'>
		<p style='font-size:40px; position:relative; left:0px;'>My Comics</p>
		<div class="row_comic" style='width:100%; position:relative; left:0px;'>
			<div *ngFor="let comic of comics" class="column_comic" onclick='select_comic()'>
				<div class='comic_banner'>
					<span class='title' style='font-size:22px; color:black'>{{ comic.comicSeriesName }}</span><br/>
					<span *ngIf="comic.score">
						<span class='title label tiny success radius' style='font-size:12px; color:white'>
								<i style="color:white;" class='fi-star'></i> {{ comic.score }}/10
						</span><br/>
					</span>
					<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>{{ comic.genre }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class='row' id='current_comic' style='display:none'>
		<div class='small-12 columns'>
			<div class='row'>
				<div class='small-6 columns'>
					<p style='font-size:40px; position:relative; left:0px;'>Naruto <span style='font-size:16px; color:darkgray'>Last Updated 5 days ago</span></p>
				</div>
				<div class='small-2 columns right'>
					<p onclick='show_all()' style='font-size:25px; position:relative; top:20px; left:50px'>View All</p>
				</div>
			</div>
			<div class='row'>
				<div class='small-12 columns'>
					<div class='small-3 columns title'><i class='fi-star'></i> 9.2 Rating</div>
					<div class='small-3 columns title'><i class='fi-torso purple'></i> 1M followers</div>
					<div class='small-3 columns title'><i class='fi-heart purple'></i> 10M likes</div>
					<div class='small-3 columns title'><i class='fi-book purple'></i> 12 Chapters</div>
				</div>
				<div class='small-12 columns'>
					<div class='small-3 columns title'><i class='fi-folder purple'></i> Action Genre</div>
					<div class='small-3 columns title left'><i class='fi-clock purple'></i> Every Monday</div>
				</div>
			</div>
			<br/>
			<p style='font-size:40px; position:relative; left:0px;'>Chapters</p>
			<div class='small-12 columns'>
				<div class='row' style='padding:50px; background:white'>
					<div class='small-12 columns'>
						<div class="row_comic" style='width:100%; position:relative; left:0px;'>
							<div class="column_comic">
								<div routerLink='/editor' class='comic_banner no_shadow' style="background:black">
									<span class='title' style='font-size:22px; color:black'><a routerLink='/editor'>Create New Chapter</a></span><br/>
								</div>
							</div>
							<div class="column_comic">
								<div class='comic_banner no_shadow'>
									<span class='title' style='font-size:22px; color:black'>Chapter 1</span><br/>
									<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
									<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Published</p>
								</div>
							</div>
							<div class="column_comic">
								<div class='comic_banner no_shadow'>
									<span class='title' style='font-size:22px; color:black'>Chapter 2</span><br/>
									<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
									<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Published</p>
								</div>
							</div>
							<div class="column_comic">
								<div class='comic_banner no_shadow'>
									<span class='title' style='font-size:22px; color:black'>Chapter 3</span><br/>
									<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
									<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Published</p>
								</div>
							</div>
							<div class="column_comic">
								<div class='comic_banner no_shadow'>
									<span class='title' style='font-size:22px; color:black'>Chapter 4</span><br/>
									<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
									<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Published</p>
								</div>
							</div>
							<div class="column_comic">
								<div class='comic_banner no_shadow' >
									<span class='title' style='font-size:22px; color:black'>Chapter 3</span><br/>
									<p class='title label tiny black radius' style='position:relative; top:134px; font-size:12px; color:white'>Draft</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class='small-12 columns'>
			<div style='margin-top:40px'>
				<p style='font-size:40px; position:relative; left:0px;'>Settings</p>
				<div class='row' style='padding:50px; background:white'>
					<div class='small-12 columns'>
						<div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
							<p style='font-size:20px; font-weight:bold'>Cover Picture </p>
							<div class='small-12 columns'>
								<input style='padding:0px; position:relative; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'
										 type="file" name="pic" accept="image/*" placeholder='Enter New Display Name'>
							</div>
						</div>
						<div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
							<p style='font-size:20px; font-weight:bold'>Release </p>
							<div class='small-12 columns'>
								<select style='padding:0px; position:relative; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'>
									<option value="volvo">Monday</option>
									<option value="saab">Tuesday</option>
									<option value="mercedes">Wednesday</option>
									<option value="audi">Thursday</option>
									<option value="audi">Friday</option>
									<option value="audi">Saturday</option>
									<option value="audi">Sunday</option>
								</select>
							</div>
						</div>

						<br/>
						<div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
							<p style='font-size:20px; font-weight:bold'>Genre </p>
							<div class='small-12 columns'>
								<select style='padding:0px; position:relative; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'>
									<option value="volvo">Action</option>
									<option value="saab">Fantasy</option>
									<option value="mercedes">Comedy</option>
									<option value="audi">Drama</option>
									<option value="audi">Sports</option>
									<option value="audi">Horror</option>
								</select>
							</div>
						</div>

						<br/>
						<div class='row' style='width:80%; margin-left:auto; margin-right:auto; '>
							<p style='font-size:20px; font-weight:bold'>About </p>
							<div class='small-12 columns'>
								<textarea style='padding:0px; position:relative; min-height:100px; left:-16px; font-size:20px; box-shadow: 0px; box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0);  border-style:none; border-bottom-style:solid;'
											 value='' placeholder='Enter About'></textarea>
							</div>
						</div>

						<br/>
						<div style='text-align:center'>
							<button id='login_btn' class='button small black publish' style='font-size:20px'>Update Details</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
