<main-nav></main-nav>
<!--<div id='action_fan_section'  class='comics content' style='padding:40px;'>-->
	<!--<p style='font-size:40px; position:relative; left:128px;'>Action/Fantasy</p>-->
	<!--<div class="row_comic" style='width:80%; position:relative; left:128px;'>-->
	<!--</div>-->
<!--</div>-->
<div class='weekly_nav header' id='genre_nav' style='background-color:white; border-bottom-style:solid; border-width:.6px; border-color:rgb(219, 219, 219); margin-top:0px; margin-left:auto; margin-right:auto; border-top: 1px solid #eaeaea;'>
	<div class='row' style='margin-top:-7px;'>
		<div class='small-12 columns small-offset-0' style='height:41px'>
			<dl class="sub-nav">
				<dd onclick='select_option_popular(this)' class="pop_btn active"><a (click)="scroll(action_fan_section)">ALL</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(action_fan_section)">ACTION/FANTASY</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(drama_section)">DRAMA</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(comedy_section)">COMEDY</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(sports_section)">SPORTS</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(horror_section)">HORROR</a></dd>
			</dl>
		</div>
	</div>
</div>
<div #action_fan_section  class='comics content' style='padding:40px;'>
	<p style='font-size:40px; position:relative; left:128px;'>Action/Fantasy</p>
	<div class="row_comic" style='width:80%; position:relative; left:128px;'>
		<div class="column_comic">
			<div class='comic_banner' onclick='window.location="/series.html"'>
			<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
			<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
			<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner'>
			<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
			<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
			<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner'>
			<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
			<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
			<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner'>
			<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
			<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
			<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
			<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
		</div>
	</div>

	<div class="column_comic">
		<div class='comic_banner'>
			<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
			<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
		</div>
	</div>
	<div class="column_comic">
		<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
			<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
			<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
			<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
		</div>
	</div>

</div>
</div>

<div #drama_section></div>
<div class='comics' style='padding:40px;'>
	<p style='font-size:40px; position:relative; left:128px;'>Drama</p>
	<div class="row_comic" style='width:80%; position:relative; left:128px;'>
		<div class="column_comic">
			<div class='comic_banner'>
				<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
				<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
				<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
	</div>
</div>

<div #comedy_section#></div>
<div class='comics' style='padding:40px;'>
	<p style='font-size:40px; position:relative; left:128px;'>Comedy</p>
	<div class="row_comic" style='width:80%; position:relative; left:128px;'>
		<div class="column_comic">
			<div class='comic_banner'>
				<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
				<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
				<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
	</div>
</div>

<div #sports_section></div>
<div class='comics' style='padding:40px;'>
	<p style='font-size:40px; position:relative; left:128px;'>Sports</p>
	<div class="row_comic" style='width:80%; position:relative; left:128px;'>
		<div class="column_comic">
			<div class='comic_banner'>
				<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
				<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
				<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
	</div>
</div>

<div #horror_section></div>
<div class='comics' style='padding:40px;'>
	<p style='font-size:40px; position:relative; left:128px;'>Horror</p>
	<div class="row_comic" style='width:80%; position:relative; left:128px;'>
		<div class="column_comic">
			<div class='comic_banner'>
				<span class='title' style='font-size:22px; color:black'>Naruto</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i> 100</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://i.ytimg.com/vi/45KSweu1lpg/maxresdefault.jpg')">
				<span class='title' style='font-size:22px; color:black'>Bleach</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.M</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Romance</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Lzo0IZm2I-KSUus7bm3p9LA0mbakS51o_ffl2GmvBBxnjJFk') ">
				<span class='title' style='font-size:22px; color:black'>Adventure Time</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  1.2</span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Action, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
		<div class="column_comic">
			<div class='comic_banner' style="background-image:url('https://media.entertainmentearth.com/assets/images/dedf7df39ed6426f877137fe45b1e8eflg.jpg')">
				<span class='title' style='font-size:22px; color:black'>Spongebob</span><br/>
				<span class='title label tiny success radius' style='font-size:12px; color:white'><i class='fi-heart'></i>  100M </span><br/>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>Life, Comedy</p>
			</div>
		</div>
	</div>
</div>
