<main-nav></main-nav>
<div class='weekly_nav' style='background-color:white; border-bottom-style:solid; border-width:.6px; border-color:rgb(219, 219, 219); margin-top:0px; margin-left:auto; margin-right:auto; border-top: 1px solid #eaeaea;'>
	<div class='row'>
		<div class='small-12 columns small-offset-0' style='height:50px'>
			<dl class="sub-nav">
				<dd onclick='select_option_popular(this)' class="pop_btn active"><a (click)="scroll(action_section)">ALL</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(action_section)">ACTION</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(fantasy_section)">FANTASY</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(drama_section)">DRAMA</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(comedy_section)">COMEDY</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(sports_section)">SPORTS</a></dd>
				<dd onclick='select_option_popular(this)' class="pop_btn"><a (click)="scroll(horror_section)">HORROR</a></dd>
			</dl>
		</div>
	</div>
</div>

<div class='comics' style='padding:40px;'>

	<div #action_section class='row'>
		<div class='small-9 columns'>
			<p style='font-size:40px; position:relative; left:-20px;'>Most Popular in Action</p>
			<div *ngFor="let comic of popularAction; let i = index">
				<div class='row banner' [ngStyle]="{'background-image': 'url(' + comic.thumbnail + ')'}">
					<div>
					<div class='small-3 columns'>
						<div class=''>
							<button class='button small success' style='font-size:40px;'>{{i + 1}}</button>
						</div>
					</div>
					<div class='small-6 columns' style='background-color:white; color:black; padding:20px; border-radius:0px 5px 5px 0px'>
						<span class='label tiny success radius'>Action</span>
						<h1>{{ comic.comicSeriesName }}</h1>
						<h4>{{ comic.author }}</h4>
						{{ comic.description.substring(0,40) }}
						<br/> <br/>
						<button (click)="selectSeries(comic)" class='button success expand radius'><a routerLink='/series'>View Series</a></button>
					</div>
					</div>
				</div>
				<br/>
			</div>
			<br/>
		</div>
			<!-- --------------------- -->

			<!-- <br/>
			<div class='row banner' style='background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwi2sbSyrv0VI9aj4ITnPLsKBWqywzk0xDOelz1_ewwFYl_P_gng")'>
				<div class='small-3 columns'>
					<div class=''>
						<button class='button small success' style='font-size:40px;'>2</button>
					</div>
				</div>
				<div class='small-6 columns' style='background-color:white; color:black; padding:20px; border-radius:0px 5px 5px 0px'>
					<span class='label tiny success radius'>Comedy</span>
					<h1>JoJo!</h1>
					<h4>artvegas</h4>
					Naruto is a superhero manga series written and illustrated by Kōhei Horikoshi. It has been serialized in Weekly Overdrive Comics since July 2014, and 20 volumes have been collected in tankōbon format.
					<br/><br/>
					<button class='button success expand radius'><a href='/series.html'>View Series</a></button>
				</div>
			</div>
		</div>
	</div> -->

	<div #fantasy_section class="row">
		<div class='small-9 columns'>
			<p style='font-size:40px; position:relative; left:-20px;'>Most Popular in Fantasy</p>
			<div *ngFor="let comic of popularFantasy; let i = index">
				<div class='row banner' [ngStyle]="{'background-image': 'url(' + comic.thumbnail + ')'}">
					<div>
					<div class='small-3 columns'>
						<div class=''>
							<button class='button small success' style='font-size:40px;'>{{i + 1}}</button>
						</div>
					</div>
					<div class='small-6 columns' style='background-color:white; color:black; padding:20px; border-radius:0px 5px 5px 0px'>
						<span class='label tiny success radius'>Fantasy</span>
						<h1>{{ comic.comicSeriesName }}</h1>
						<h4>{{ comic.author }}</h4>
						{{ comic.description.substring(0,40) }}
						<br/> <br/>
						<button (click)="selectSeries(comic)" class='button success expand radius'><a routerLink='/series'>View Series</a></button>
					</div>
					</div>
				</div>
				<br/>
			</div>
			<br/>
		</div>
	</div>

	<div #drama_section class="row">
		<div class='small-9 columns'>
			<p style='font-size:40px; position:relative; left:-20px;'>Most Popular in Drama</p>
			<div *ngFor="let comic of popularDrama; let i = index">
				<div class='row banner'[ngStyle]="{'background-image': 'url(' + comic.thumbnail + ')'}">
					<div>
					<div class='small-3 columns'>
						<div class=''>
							<button class='button small success' style='font-size:40px;'>{{i +  1}}</button>
						</div>
					</div>
					<div class='small-6 columns' style='background-color:white; color:black; padding:20px; border-radius:0px 5px 5px 0px'>
						<span class='label tiny success radius'>Drama</span>
						<h1>{{ comic.comicSeriesName }}</h1>
						<h4>{{ comic.author }}</h4>
						{{ comic.description.substring(0,40) }}
						<br/> <br/>
						<button (click)="selectSeries(comic)" class='button success expand radius'><a routerLink='/series'>View Series</a></button>
					</div>
					</div>
				</div>
				<br/>
			</div>
			<br/>
		</div>
	</div>

	<div #comedy_section class="row">
		<div class='small-9 columns'>
			<p style='font-size:40px; position:relative; left:-20px;'>Most Popular in Comedy</p>
			<div *ngFor="let comic of popularComedy; let i = index">
				<div class='row banner'[ngStyle]="{'background-image': 'url(' + comic.thumbnail + ')'}">
					<div>
					<div class='small-3 columns'>
						<div class=''>
							<button class='button small success' style='font-size:40px;'>{{i + 1}}</button>
						</div>
					</div>
					<div class='small-6 columns' style='background-color:white; color:black; padding:20px; border-radius:0px 5px 5px 0px'>
						<span class='label tiny success radius'>Comedy</span>
						<h1>{{ comic.comicSeriesName }}</h1>
						<h4>{{ comic.author }}</h4>
						{{ comic.description.substring(0,40) }}
						<br/> <br/>
						<button (click)="selectSeries(comic)" class='button success expand radius'><a routerLink='/series'>View Series</a></button>
					</div>
					</div>
				</div>
				<br/>
			</div>
			<br/>
		</div>
	</div>

	<div #sports_section class="row">
		<div class='small-9 columns'>
			<p style='font-size:40px; position:relative; left:-20px;'>Most Popular in Sports</p>
			<div *ngFor="let comic of popularSports; let i = index">
				<div class='row banner'[ngStyle]="{'background-image': 'url(' + comic.thumbnail + ')'}">
					<div>
					<div class='small-3 columns'>
						<div class=''>
							<button class='button small success' style='font-size:40px;'>{{i + 1}}</button>
						</div>
					</div>
					<div class='small-6 columns' style='background-color:white; color:black; padding:20px; border-radius:0px 5px 5px 0px'>
						<span class='label tiny success radius'>Sports</span>
						<h1>{{ comic.comicSeriesName }}</h1>
						<h4>{{ comic.author }}</h4>
						{{ comic.description.substring(0,40) }}
						<br/> <br/>
						<button (click)="selectSeries(comic)" class='button success expand radius'><a routerLink='/series'>View Series</a></button>
					</div>
					</div>
				</div>
				<br/>
			</div>
			<br/>
		</div>
	</div>

	<div #horror_section class="row">
		<div class='small-9 columns'>
			<p style='font-size:40px; position:relative; left:-20px;'>Most Popular in Horror</p>
			<div *ngFor="let comic of popularHorror; let i = index">
				<div class='row banner'[ngStyle]="{'background-image': 'url(' + comic.thumbnail + ')'}">
					<div>
					<div class='small-3 columns'>
						<div class=''>
							<button class='button small success' style='font-size:40px;'>{{i + 1}}</button>
						</div>
					</div>
					<div class='small-6 columns' style='background-color:white; color:black; padding:20px; border-radius:0px 5px 5px 0px'>
						<span class='label tiny success radius'>Horror</span>
						<h1>{{ comic.comicSeriesName }}</h1>
						<h4>{{ comic.author }}</h4>
						{{ comic.description.substring(0,40) }}
						<br/> <br/>
						<button (click)="selectSeries(comic)" class='button success expand radius'><a routerLink='/series'>View Series</a></button>
					</div>
					</div>
				</div>
				<br/>
			</div>
			<br/>
		</div>
	</div>
