<main-nav></main-nav>
<div class='comics content' style='padding:40px;'>
  <p style='font-size:40px; position:relative; left:0px;'>Search Results for: {{ searchQuery }}</p>
  <div *ngIf="searchResults" class="row_comic" style='width:100%; position:relative; left:0px;'>
		<div *ngFor="let comic of searchResults" class="column_comic" onclick='select_comic()'>
			<div (click)="selectSeries(comic);" routerLink="/series" routerLinkActive="active" class='comic_banner'
      [ngStyle]="{'background-image': 'url(' + comic.thumbnail + ')'}">
				<span class='title' style='font-size:18px; color:black'>{{ comic.comicSeriesName }}</span><br/>
				<span *ngIf="comic.score">
					<span class='title label tiny success radius' style='font-size:12px; color:white'>
							<i style="color:white;" class='fi-star'></i> {{ comic.score }}/10
					</span><br/>
				</span>
				<a *ngIf="comic.isFollowed != false">
					<span #actionFollowButton (click)="sendFollowRequest(actionFollowButton, comic)" class="title label tiny success radius" style="font-size:12px; color: white;">Follow</span>
				</a>
				<a *ngIf="comic.isFollowed">
					<span #actionFollowButton (click)="sendFollowRequest(actionFollowButton, comic)" class="title label tiny success radius" style="font-size:12px; color: blue;">Following</span>
				</a>
				<p class='title label tiny success radius' style='position:relative; top:111px; font-size:12px; color:white'>{{ comic.genre }}</p>
			</div>
		</div>
	</div>
</div>
